header {
	flex: 0 0 100%;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--color-primary);
	text-shadow: 0.1em 0.1em 0.1em black;
	font-family: Acme;
}
