body:not([data-cond]) {
	background-image: radial-gradient(silver, black);
}
body[data-cond="clear"] {
	background-image: var(--cond-clear);
}
body[data-cond="clouds"] {
	background-image: var(--cond-cloudy);
}
body[data-cond="rain"] {
	background-image: var(--cond-rain);
}
body[data-cond="lightning"] {
	background-image: var(--cond-ligntniing);
}
body[data-cond="snow"] {
	background-image: var(--cond-snow);
}
