.loading {
	cursor: progress;
}
.flex {
	display: flex;
}
.flex.center {
	justify-content: center;
	align-content: center;
	align-items: center;
}
.tile {
	display: inline-block;
	background-image: var(--frosted-glass);
	padding: 1.2em;
	margin: 0.3em;
	box-shadow: 0.3em 0.3em 0.3em black;
	border-radius: 0.4em;
}
.temp {
	color: var(--color-alt);
}
.toggle {
	display: inline-block;
	width: 8em;
	padding: 0.3rem;
	border-color: #BABABA;
	border-width: 0.1em;
	border-style: outset;
	background-image: linear-gradient(#65CB63, #268014);
	text-shadow: 0.05em 0.05em 0.1em black;
	box-shadow: 0.1em 0.1em 0.1em black;
	transition: box-shadow 100ms;
}
.toggle:first-of-type {
	border-radius: 0.5em 0 0 0.5em;
	margin-right: -0.3em;
}
.toggle:last-of-type {
	border-radius: 0 0.5em 0.5em 0;
}
.toggle:disabled {
	background-image: linear-gradient(#5E59B3, #292D5F);
	border-style: inset;
	box-shadow: 0.1em 0.1em 0.1em black inset;
}
